<div class="container p-2 border">
  <div class="row p-2" style="height: 500px;">
    <div class="col-5">
      <div class="card float-right rounded-0" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title border-bottom">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary w-100">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="offset-2 col-5">
      <div class="card shadow rounded-0" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title border-bottom">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary w-100">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
