<div class="container">
    <div routerLink="/list/{{department}}/A" *ngIf="sectionA" class="col-6 bg-primary" style="cursor: pointer">Section A</div>
    <div routerLink="/list/{{department}}/B" *ngIf="sectionB" class="col-6 bg-light"  style="cursor: pointer">Section B</div>
    <div routerLink="/list/{{department}}/C" *ngIf="sectionC" class="col-6 bg-warning" style="cursor: pointer">Section C</div>
    <div routerLink="/list/{{department}}/D" *ngIf="sectionD" class="col-6 bg-danger" style="cursor: pointer">Section D</div>
</div>



